<row>
<div class="col-xs-12" style="padding: 0 0 0 0">
  <%= simple_captcha_options[:field] %>
</div>
<div class="col-xs-8" style="padding: 5px 0 0 0">
  <%= simple_captcha_options[:image] %>
</div>
</row>

<row>
<div class="col-xs-24">
  <%= simple_captcha_options[:label] %>
</div>
</row>
