<h1 class="page-title"><%= t("header.dividends") %></span></h1>

<div class="panel panel-default">
  <div class="panel-body panel-dividends">

    <div class='row'>
      <div class='col-xs-24'>
        <div class="dividends-container">
          <!-- {{template 'flash'}} -->
          <dividends></dividends>
          <ui-view></ui-view>
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>
