<h1 class="page-title"><%= t("header.funds") %><span style="position: relative; left: 960px;"><input class="bootstrap-switch" type="checkbox" name="showall-checkbox"/></span></h1>

<div class="panel panel-default">
  <div class="panel-body panel-currencies">

    <div class='row'>
      <div class='col-xs-8'>

        <div class="currencies-container" style="overflow-y: auto; overflow-x: hidden; height:400px;">
          <accounts></accounts>
        </div>
      </div>

      <div class='col-xs-16'>
        <div class="details-container">
          <!-- {{template 'flash'}} -->
          <ui-view></ui-view>
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path %>"
      })
    });
  </script>
<% end %>
