
@import "bourbon";

@import 'vars/bootstrap';
@import 'vars/bootstrap_market';

@import 'bootstrap';
@import 'bootstrap-switch.min';

@import 'vars/basic';
@import 'vars/market';
@import 'vars/custom';

@import "font-awesome-sprockets";
@import 'font-awesome';
@import 'csshake.min';

@import 'layouts/basic';

/* basic layout
------------------------------------------------ */

html,
body,
#wrap,
.content {
  height: 100%;
  @include user-select(none);
}

body {
/*  min-width: $min-width !important; */
  min-height: $min-height !important;

  // fixed icon spin
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;

  * {
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
  }

  a.hand-point {
    cursor: pointer;
    text-decoration: none;
  }
}

header {
  box-sizing: border-box;
  bottom-border: 0px;

  p + p { margin-left: 20px !important; }
  span + span { margin-left: 10px !important; }

  span[data-title]:before { content: attr(data-title) ": "; }

  span.vol, span.high, span.low {
    font-family: $font-family-monospace;
  }

  .bootstrap-switch {
    margin-top: -2px;
    border-color: $panel-default-border;
  }

  .bootstrap-switch.bootstrap-switch-focused {
    @include box-shadow(none);
    border-color: $panel-default-border;
  }

  .bootstrap-switch.bootstrap-switch-mini.bootstrap-switch-animate {
    margin-top: -2px;
    border: none;

    & .bootstrap-switch-handle-on.bootstrap-switch-success {
      padding: 6px 2px;
      font-size: 12px;
      color: white !important;
      background-color: $up-text-fade;
    }

    & .bootstrap-switch-handle-off.bootstrap-switch-default {
      padding: 6px 2px;
      font-size: 12px;
      color: white !important;
      background-color: $down-text-fade;
    }

    .bootstrap-switch-label {
      color: rgba(255,255,255,.5);
      padding: 6px 2px;
      font-size: 12px;
      background-color: $btn-danger-bg;
    }

  }

  li.dropdown {
    a:hover {
      color: white;
      text-decoration: none;
      background: none;
      text-shadow: white 0 0 2px;
      text-decoration: none;
    }
    a:focus {
      text-shadow: none;
      text-decoration: none;
    }

    table {
      margin-bottom: 0px;
      td {
        vertical-align: middle;
        border-top: none;
        border-bottom: 1px solid $navbar-default-spliter;
      }
    }
  }

  @mixin header-dropdown {
    min-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $panel-bg;
    border: 1px solid $panel-default-border;
    box-shadow: 0px 0px 8px $panel-default-border;

    li:first-child {
      padding-top: 8px;
    }
    li:last-child {
      padding-bottom: 8px;
    }
  }

  #language {
    .lang-icon {
      height: 16px;
    }
    .dropdown-menu {
      @include header-dropdown;
      min-width: 0;
      a {
        padding: 5px 15px;
      }
    }
  }

  #settings {
    .dropdown-menu {
      @include header-dropdown;
      li:nth-child(1), li:nth-child(2) {
        & > a:hover { text-shadow: none; }
      }
      li:nth-child(2) {
        padding-bottom: 8px;
      }

      .fa { width: 14px; }

      a { padding: 3px 10px; }
    }
  }

  #account_summary {
    font-family: $font-family-monospace;
    .dropdown-menu {
      @include header-dropdown;
    }
    table {
      min-width: 280px;
      td.account-symbol { img { max-height: 32px; } }
      span.locked { color: #777; }
    }
    p { margin: 8px; }
  }

  i.fa.fa-wifi { color: $text-color; }

  .navbar-right {
    .dropdown-menu {
      right: -1px !important;
      padding: 0px !important;
    }
  }

  .navbar-left {
    .dropdown-menu {
      left: -1px !important;
      padding: 0px !important;
    }

    span.vol, span.high, span.low, span.change {
      color: gainsboro;
    }
  }
}

.navbar-static-top {
  min-width: $min-width;
}

#wrap {
  box-sizing: border-box;
  margin-top: 0px - $navbar-height;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  top: $navbar-height;
/*  min-width: $min-width; */
  min-height: $min-height - $navbar-height;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 14px !important;
  background-color: #000;
  font-family: $font-family-monospace;
}

#candlestick > .mask {
  background-color: rgba(44,44,44,0.5);
}

.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: rgba(44,44,44,0.8);
  table {
    width: 100%;
    height: 100%;
  }
}

#ask_entry > .mask { padding-top: 80px; }
#bid_entry > .mask { padding-top: 80px; }

.float {
  position: absolute;
  @include transition(0.1s);
  @include transition-property(width);

  .sideways {
    width: auto;
    position: absolute;

    li > a { background: #364450; }

    &.tabs-left {
      left: 3px;
      li { float: right; } // turn tabs
    }

    &.tabs-right {
      right: 3px;
      li { float: left; } // turn tabs
    }
  }

  i.fa.fa-close { position: relative; z-index: 910; }
  .tab-content .tab-pane > * { width: 100%; height: 100%; }
}


@mixin float-wrapper($width, $height, $ul-top: 198px, $ul-width: 182px) {
  & > ul { width: $ul-width; top: $ul-top; }
  height: $height;

  width: 0px;
  .tab-content { display: none; }

  &.hover, &.hover-force {
    width: $width;
    height: $height;
    .tab-content { display: block; }
    .sideways.tabs-left { left: 1px; }
  }
}

chat_tabs_wrapper {
  bottom: $gutter; left: $gutter;
  min-height: 300px;
  @include float-wrapper($market-list-width, 300px);
  &.stop-resize {
    height: 100px !important;
    min-height: 100px !important;
    & > ul { top: 140px }
  }
}

left_side_tabs_wrapper {
  /*bottom: $gutter;*/
  left: $gutter;
  top: $gutter;
  z-index: 1000;
  @include float-wrapper($market-list-width, $side-bar-height);
  &.stop-resize {
    height: 100px !important;
    min-height: 100px !important;
    & > ul { top: 100px }
  }
}

/* panel
------------------------------------------------ */
.panel {
  position: absolute;
  margin-bottom: 0px;

  &.panel-wide {
    .panel-body { padding: 8px; }
    .panel-heading { padding: 8px; }
  }

  &.panel-with-dropdown {
    .panel-heading {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      .btn-group.open .dropdown-toggle {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
      }

      .btn-group {
        margin-right: 5px;
        cursor: pointer;
        span.caret { margin-left: 2px; }
        a:hover, a:focus { text-decoration: none; }
      }
    }
  }

  .panel-heading

  .panel-body.panel-fixed-table-head {
    table { margin-bottom: 0px; }
    padding-bottom: 0px;
  }

  .panel-body.panel-fixed-table-body {
    table { margin-bottom: 0px;}
    overflow-y: auto;
  }
}

.has-left-dropdown {
  .dropdown-wrapper {
    .dropdown-menu {
      display: block;
      z-index: 0;
      position: relative;
      top: 0;
      left: 100%;
      -webkit-transition: left .1s linear;
      transition: left .1s linear;
      min-width: 0;
      margin: 0;
      font-size: 11px;
      background-color: $panel-bg;
      border: 1px solid $panel-default-border;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      a {
        display: none;
        padding: 3px 12px 3px 11px;
        background-color: $panel-bg;
      }

      a:hover {
        color: white;
        background-color: $panel-bg;
        text-shadow: white 0 0 2px;
        text-decoration: none;
      }

      a:focus {
        color: $text-color;
        text-shadow: none;
      }
    }
  }
}

.has-left-dropdown:hover {
  .dropdown-wrapper {
    .dropdown-menu {
      left: 1px;
      -webkit-transition: left .1s linear;
      transition: left .1s linear;

      a { display: block; }
    }
  }
}

.has-right-dropdown {
  .dropdown-wrapper {
    .dropdown-menu {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      -webkit-transition: margin-left .1s linear;
      transition: margin-left .1s linear;
      min-width: 0;
      padding-left: 6px;
      margin: 0 0 0 -100%;
      font-size: 11px;
      background-color: $panel-bg;
      border: 1px solid $panel-default-border;
      border-left: 0;
      border-left-right-radius: 0;
      border-left-right-radius: 0;

      a {
        padding: 3px 8px;
        background-color: $panel-bg;
        i { color: $panel-bg; }
      }

      a.active {
        i {
          color: white;
          text-shadow: white 0 0 2px;
        }
      }

      a:hover {
        color: white;
        background-color: $panel-bg;
        text-shadow: white 0 0 2px;
        text-decoration: none;
        i { text-shadow: none; }
      }

      a:focus {
        color: $text-color;
      }
    }
  }
}

.has-right-dropdown:hover {
  .dropdown-wrapper {
    .dropdown-menu {
      margin-left: -1px;
      -webkit-transition: margin-left .1s linear;
      transition: margin-left .1s linear;

      a { display: block; }
    }
  }
}

/* layout position
----------------------------------------------- */
#ask_entry, #bid_entry { width: $entry-width; height: $right-entry-height; }
.entry-right { bottom: $gutter; right: $gutter + $entry-width + $gutter; }
.entry-left { bottom: $gutter; right: $gutter; }

#ticker {
  width: $ticker-width; height: $ticker-height;
  bottom: $gutter_3x + $right-entry-height + $my-orders-height + $depths-height; right: $gutter;

  .ask, .last, .bid {
    text-align: center;
    font-family: $font-family-monospace;
    .hint { cursor: default; color: #777; }
  }

  .last {
    padding-top: 5px;
    font-size: 24px;
    line-height: 42px;
  }
}

#order_book {
  width: $order-book-width; height: $order-book-height;
  min-height: $order-book-height;
  top: $gutter; right: $gutter;

  .panel-body-content {
    min-height: $order-book-height - $panel_table_header_high;
  }

  table.asks, table.bids {
    font-size: 12px;
    font-weight: bold;

    td.price {
       .fill { color: #333; }
       .satoshi { color: #777; } /*2EB5DD*/
       .satoshi-hide { color: #333; } /*2E4582*/
      }

    .new {
      background-color: #333;
      div { display: none; }
    }

    .obsolete {
      color: #444;
      .price, .amount, .volume, g { color: #444; }
    }
  }
}

#candlestick {
  position: absolute;
  min-width: $candlestick-width; width: $candlestick-width;
  min-height: $candlestick-height; height: $candlestick-height;
  top: $gutter; left: $market-list-width + $gutter-2x;
}

.switch {
  font-size: 12px;
  position: absolute;
  a { color: #777; }
  a:hover { color: lighten(#777, 50%); }
  a.active { color: #eee; }
}

#range_switch {
  top: 13px; right: $order-book-width + $gutter-2x + 25;
  li { padding-left: 10px; padding-right: 0; }
}
#indicator_switch_wrapper {
  top: 33px; right: $order-book-width + $gutter-2x + 25;
  li { padding-left: 10px; padding-right: 0; }
}

#depths_wrapper {
  width: $order-book-width; height: $depths-height;
  bottom: $gutter-3x + $my-orders-height + $right-entry-height; right: $gutter;

  .panel-body {
    padding: 0;
  }

  table.depths-table {
    th, td { text-align: right; width: 90px; min-width: 90px; }
    th { color: #888; }
    td { color: #eee; }
  }
}

#market_trades_wrapper {
  .dropdown-wrapper {
    position: absolute;
    height: 100px;
    top: $market-list-height + $gutter-3x + 37; left: $market-trades-width + $gutter;
    z-index: 998;
  }
}

#market_trades {
  position: absolute;
  bottom: $gutter; left: $gutter;
  width: $market-trades-width;
  height: $market-trades-height;
  min-height: $market-trades-height;
  z-index: 999;

  .panel {
    width: $market-trades-width;
    height: $market-trades-height;
    min-height: $market-trades-height;
  }
  .panel-body-content {
    min-height: $market-trades-height - $panel_table_header_high;

    td.price {
       .fill { color: #333; }
       .satoshi { color: #777; } /*2EB5DD*/
       .satoshi-hide { color: #333; } /*2E4582*/
      }
  }

  table {
    .new {
      background-color: #333;
      div { display: none; }
    }
  }

  .all-trades tr td.my i { display: none; }
  .all-trades tr.mine td.my i { display: inline; }

  .my-trades tbody {
    display: none;
  }
}

#market_list_wrapper {
  .dropdown-wrapper {
    position: absolute;
    width: 150px;
    height: 100px;
    top: $gutter + 37; left: $market-list-width + $gutter;
    z-index: 998;
  }
}

#market_list {
  position: absolute;
  top: $gutter; left: $gutter;
  width: $market-list-width; height: $market-list-height;
  z-index: 999;
  
  .panel-default {

    width: $market-list-width;

    .panel-body-content {
      height: $market-list-height - $panel_table_header_high;

      td.price {
        .fill { color: #333; }
        .satoshi { color: #777; } /*2EB5DD*/
        .satoshi-hide { color: #333; } /*2E4582*/
      }

      td.change {
        min-width: 72px;
      }

      .markets {
        tr { display: none; }
        &.all { tr { display: block; } }
        &.cny { tr.quote-cny { display: block; } }
        &.btc { tr.quote-btc { display: block; } }
        &.ltc { tr.quote-ltc { display: block; } }
        &.doge { tr.quote-doge { display: block; } }
        &.gio { tr.quote-gio { display: block; } }
        &.eth { tr.quote-eth { display: block; } }
        &.psd { tr.quote-psd { display: block; } }
      &.phc { tr.quote-phc { display: block; } }
      &.xgc { tr.quote-xgc { display: block; } }
      &.dev { tr.quote-dev { display: block; } }
      &.pbs { tr.quote-pbs { display: block; } }
      &.din { tr.quote-din { display: block; } }
      &.adv { tr.quote-adv { display: block; } }
      &.dv7 { tr.quote-dv7 { display: block; } }
      &.jew { tr.quote-jew { display: block; } }
      &.argo { tr.quote-argo { display: block; } }
      &.esco { tr.quote-esco { display: block; } }
      &.neet { tr.quote-neet { display: block; } }
      &.xylo { tr.quote-xylo { display: block; } }
      &.steep { tr.quote-steep { display: block; } }
      &.bitg { tr.quote-bitg { display: block; } }
      &.crft { tr.quote-crft { display: block; } }
      &.env { tr.quote-env { display: block; } }
      &.xsg { tr.quote-xsg { display: block; } }
      &.nyc { tr.quote-nyc { display: block; } }
      &.zoc { tr.quote-zoc { display: block; } }
      &.btcz { tr.quote-btcz { display: block; } }
      &.ytn { tr.quote-ytn { display: block; } }
      &.yic { tr.quote-yic { display: block; } }
      &.tlp { tr.quote-tlp { display: block; } }
      &.pwc { tr.quote-pwc { display: block; } }
      &.shnd { tr.quote-shnd { display: block; } }
      &.lmn { tr.quote-lmn { display: block; } }
      &.kec { tr.quote-kec { display: block; } }
      &.abs { tr.quote-abs { display: block; } }
      &.suppo { tr.quote-suppo { display: block; } }
      &.linda { tr.quote-linda { display: block; } }
      &.hight { tr.quote-hight { display: block; } }
      &.bls { tr.quote-bls { display: block; } }
      &.tokc { tr.quote-tokc { display: block; } }
      &.elp { tr.quote-elp { display: block; } }
      &.zex { tr.quote-zex { display: block; } }
      &.rlc { tr.quote-rlc { display: block; } }
      &.lucky { tr.quote-lucky { display: block; } }
      &.ich { tr.quote-ich { display: block; } }
      &.mmb { tr.quote-mmb { display: block; } }
      &.pnx { tr.quote-pnx { display: block; } }
      &.mix { tr.quote-mix { display: block; } }
      &.kreds { tr.quote-kreds { display: block; } }
      &.bkt { tr.quote-bkt { display: block; } }
      &.snx { tr.quote-snx { display: block; } }
      &.giro { tr.quote-giro { display: block; } }
      &.onex { tr.quote-onex { display: block; } }
      &.pushi { tr.quote-pushi { display: block; } }
      &.vrt { tr.quote-vrt { display: block; } }
      &.zaca { tr.quote-zaca { display: block; } }
      &.xhm { tr.quote-xhm { display: block; } }
      &.xar { tr.quote-xar { display: block; } }
      &.rupx { tr.quote-rupx { display: block; } }
      &.frm { tr.quote-frm { display: block; } }
      &.men { tr.quote-men { display: block; } }
      &.mun { tr.quote-mun { display: block; } }
      &.onemc { tr.quote-onemc { display: block; } }
      &.alp { tr.quote-alp { display: block; } }
      &.zel { tr.quote-zel { display: block; } }
      &.amx { tr.quote-amx { display: block; } }
      &.pew { tr.quote-pew { display: block; } }
      &.fsc { tr.quote-fsc { display: block; } }
      &.sln { tr.quote-sln { display: block; } }
      &.usx { tr.quote-usx { display: block; } }
      &.bsx { tr.quote-bsx { display: block; } }
      &.eot { tr.quote-eot { display: block; } }
      &.xap { tr.quote-xap { display: block; } }
      &.miac { tr.quote-miac { display: block; } }
      &.kc { tr.quote-kc { display: block; } }
      &.arhm { tr.quote-arhm { display: block; } }
      &.olmp { tr.quote-olmp { display: block; } }
      &.onz { tr.quote-onz { display: block; } }
      &.agn { tr.quote-agn { display: block; } }
      &.crz { tr.quote-crz { display: block; } }
      &.enix { tr.quote-enix { display: block; } }
      &.snc { tr.quote-snc { display: block; } }
      &.quaz { tr.quote-quaz { display: block; } }
      &.scriv { tr.quote-scriv { display: block; } }
      &.ethf { tr.quote-ethf { display: block; } }
      &.arepa { tr.quote-arepa { display: block; } }
      &.sub1x { tr.quote-sub1x { display: block; } }
      &.cheese { tr.quote-cheese { display: block; } }
      &.jiyo { tr.quote-jiyo { display: block; } }
      &.pyro { tr.quote-pyro { display: block; } }
      &.roe { tr.quote-roe { display: block; } }
      &.citr { tr.quote-citr { display: block; } }
      &.xen { tr.quote-xen { display: block; } }
      &.edl { tr.quote-edl { display: block; } }
      &.cru { tr.quote-cru { display: block; } }
      &.ndc { tr.quote-ndc { display: block; } }
      &.zls { tr.quote-zls { display: block; } }
      &.proton { tr.quote-proton { display: block; } }
      &.krait { tr.quote-krait { display: block; } }
      &.aln { tr.quote-aln { display: block; } }
      &.bcp { tr.quote-bcp { display: block; } }
      &.xmx { tr.quote-xmx { display: block; } }
      &.ida { tr.quote-ida { display: block; } }
      &.unify { tr.quote-unify { display: block; } }
      &.and { tr.quote-and { display: block; } }
      &.vig { tr.quote-vig { display: block; } }
      &.peps { tr.quote-peps { display: block; } }
      &.vizz { tr.quote-vizz { display: block; } }
      &.mon { tr.quote-mon { display: block; } }
      &.lunex { tr.quote-lunex { display: block; } }
      &.pruf { tr.quote-pruf { display: block; } }
      &.want { tr.quote-want { display: block; } }
      &.mmo { tr.quote-mmo { display: block; } }
      &.cbt { tr.quote-cbt { display: block; } }
      &.xt3 { tr.quote-xt3 { display: block; } }
      &.btcf { tr.quote-btcf { display: block; } }
      &.zcr { tr.quote-zcr { display: block; } }
      &.slrc { tr.quote-slrc { display: block; } }
      &.aevo { tr.quote-aevo { display: block; } }
      &.ppx { tr.quote-ppx { display: block; } }
      &.yoba { tr.quote-yoba { display: block; } }
      &.nbx { tr.quote-nbx { display: block; } }
      &.elli { tr.quote-elli { display: block; } }
      &.kgx { tr.quote-kgx { display: block; } }
      &.akn { tr.quote-akn { display: block; } }
      &.aka { tr.quote-aka { display: block; } }
      &.rvn { tr.quote-rvn { display: block; } }
      &.posq { tr.quote-posq { display: block; } }
      &.radius { tr.quote-radius { display: block; } }
      &.dsc { tr.quote-dsc { display: block; } }
      &.varius { tr.quote-varius { display: block; } }
      &.cyr { tr.quote-cyr { display: block; } }
      &.bbrc { tr.quote-bbrc { display: block; } }
      &.ikt { tr.quote-ikt { display: block; } }
      &.bsl { tr.quote-bsl { display: block; } }
      &.bff { tr.quote-bff { display: block; } }
      &.toba { tr.quote-toba { display: block; } }
      &.alps { tr.quote-alps { display: block; } }
      &.rlm { tr.quote-rlm { display: block; } }
      &.vzh { tr.quote-vzh { display: block; } }
      &.rco { tr.quote-rco { display: block; } }
      &.cbc { tr.quote-cbc { display: block; } }
      &.exam { tr.quote-exam { display: block; } }
      &.nah { tr.quote-nah { display: block; } }
      &.slash { tr.quote-slash { display: block; } }
      &.adr { tr.quote-adr { display: block; } }
      &.htrc { tr.quote-htrc { display: block; } }
      &.ice { tr.quote-ice { display: block; } }
      &.ebs { tr.quote-ebs { display: block; } }
      &.xeh { tr.quote-xeh { display: block; } }
      &.krm { tr.quote-krm { display: block; } }
      &.cgur { tr.quote-cgur { display: block; } }
      &.vre { tr.quote-vre { display: block; } }
      &.her { tr.quote-her { display: block; } }
      &.bzm { tr.quote-bzm { display: block; } }
      &.itis { tr.quote-itis { display: block; } }
      &.hpp { tr.quote-hpp { display: block; } }
      &.dsn { tr.quote-dsn { display: block; } }
      &.demos { tr.quote-demos { display: block; } }
      &.jagar { tr.quote-jagar { display: block; } }
      /*markets*/
      }
    }
  }
}

#my_orders_wrapper {
  .dropdown-wrapper {
    position: absolute;
    height: $my-orders-height;
    bottom: $gutter-2x + $right-entry-height; right: $order-book-width + $gutter;
    z-index: 999;
  }
}

#my_orders {
  width: $my-orders-width; height: $my-orders-height;
  bottom: $gutter-2x + $right-entry-height; right: $gutter;
  z-index: 1000;

  .panel-body-content {
    height: $my-orders-height - $gutter-2x;

    .time, .price, .volume, .amount {
      & > span { display: block; height: 16px; padding: 2px 0; }
    }

    .empty-row {
      position: absolute;
      top: 44%;
      width: 99%;
      height: 0;
      padding: 0;
      color: $gray-light;
      text-align: center;
    }

    .label { margin: 0 1px; padding: 2px; }
    .label-ask { background-color: $down-text-fade; }
    .label-bid { background-color: $up-text-fade; }
    .label-new { background-color: $gray-light; }
    .label-partial { background-color: #2b90de; }
  }

  & > .mask { padding-top: 130px; }
}

/* order entry
-----------------------------------------------------*/
[data-lang=zh-cn] {
  #ask_entry, #bid_entry {
    label.input-group-addon {
      min-width: 40px !important;
    }

    .hint-price-disadvantage, .hint-positions  {
      top: 2px;
      left: 39px;
      margin-left: 0px;
      position: absolute;
      z-index: 10;
    }
  }

  .sideways li {
    direction: rtl;
    unicode-bidi: bidi-override;
    v { display: inline-block; }
  }

  #account_summary {
    table {
      min-width: 260px;
    }
  }
}

#ask_entry, #bid_entry {
  z-index: 999;

  .panel-body { padding-top: 10px; }

  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .row { margin-bottom: 6px; }

  .input-group {
    .input-group-addon {
      padding: 1px 4px 0px 4px;
    }

    label.input-group-addon {
      padding: 3px 6px 0px 6px;
      min-width: 70px;
      text-align: right;
      color: #aaa;
    }

    span.input-group-addon {
      padding: 3px 6px 0px 6px;
      min-width: 60px;
      text-align: left;
      color: #aaa;
    }

    input {
      text-align: right;
      padding-top: 6px !important;
      padding-bottom: 4px !important;
      padding-right: 6px !important;
      padding-left: 6px !important;
      font-size: 13px
    }

    margin-bottom: 8px;
  }

  .hint-price-disadvantage, .hint-positions  {
    top: 2px;
    left: 2px;
    margin-left: 0px;
    position: absolute;
    z-index: 10;
  }

  .hint-fee  {
    top: 12px;
    left: 72px;
    margin-left: 0px;
    position: absolute;
    z-index: 10;
  }

  .fee-info  {
    top: 2px;
    left: 72px;
    margin-left: 0px;
    position: absolute;
    z-index: 10;
  }

  .fee-discount-info  {
    top: 103px;
    left: 80px;
    margin-left: 0px;
    position: absolute;
    z-index: 10;
  }

  .label { font-size: inherit; }
  .label.label-info { color: $brand-info; font-size: 9px; padding: 0 0 0 0  }
  .label.label-fee { color: $brand-info; font-size: 10px; padding: 0 0 0 0  }
  .label.label-fee-info { color: $brand-info; font-size: 10px; padding: 0 0 0 0  }
  .label.label-fee-discount-info { color: #e6b800; font-size: 10px; padding: 0 0 0 0  }
  .label.label-fee-discount-info:hover { text-decoration: underline; }
  .label.label-success { color: $brand-success }
  .label.label-failed { color: $brand-danger }
  .label.label-danger { color: $brand-danger; font-size: 9px; padding: 0 0 0 0 }

  span.status-info, .status-success, .status-danger, .status-fee {
    top: -3px;
    left: -6px;
    margin-left: 0px;
    position: absolute;
    i.fa { margin-left: 4px; }
  }


  input[type=checkbox].css-checkbox 
  { 
    position: absolute;  
    overflow: hidden;  
    clip: rect(0 0 0 0);  
    height:0px;  width:0px;  margin:-1px;  padding:0; border:0; 
    visibility: hidden;
  } 

  input[type=checkbox].css-checkbox + label.css-label 
  { padding-left:15px; height:13px;  display:inline-block; line-height:13px; background-repeat:no-repeat; background-position: 0 0; font-size:13px; vertical-align:middle; cursor:pointer; } 

  input[type=checkbox].css-checkbox:checked  + label.css-label { background-position: 0 -13px; }  .css-label{ background-image:url(https://graviex.net/lite-x-red-13-3.png); }

  .row-tips {
    margin-top: 18px;
    margin-bottom: 13px;

    .current-balance { font-family: $font-family-monospace; }
    .unit { padding-left: 3px; }
  }
}

/* order-book trades my-orders table
---------------------------------------------------*/
.col-left { padding-right: 12px; }
.panel-body-head { border-bottom: 1px solid #333; }

#ticker, #order_book, #market_trades, #my_orders, #market_list {
  table {
    margin-bottom: 0px;

    &.hidden-buy { tr.bid { display: none; } }
    &.hidden-sell { tr.ask { display: none; } }

    td, th {
      padding: 0px 2px;
      border: none;
    }

    tr.highlight {
      background-color: #333;
    }

    td {
      &.price, &.amount, &.volume, &.change {
        text-align: right;
      }
    }
  }
}

table {
  thead { cursor: default; th { color: #777; }}
  &.table-hover { tbody > tr:hover { cursor: pointer;} }
}

.panel-body-content::-webkit-scrollbar { width: 0 !important }
.panel-body-content { overflow-y: auto; -ms-overflow-style: none; overflow: -moz-scrollbars-auto; }

.panel-heading {
  .pull-right + .pull-right {
    margin-right: 10px;
  }
}

.chart-ticker {
  color: #777;
  /*background-color: $panel-bg-alpha;*/
  /*border: 1px solid $navbar-default-border;*/
  background-color: transparent;
  border: 0px;

  padding: 14px 0 6px 6px;
  font-size: 11px;

  & > div { display: inline-block; width: 100px; }
  & > div.tooltip-ma { width: 76; margin-top: 3px; }
  & > div.tooltip-ticker { margin-top: 5px; }

  ul.list-inline {
    margin: 6px 0 0 0;
    li { padding: 0 6px 0 0; }
  }

  span.t-title {
    display: block;
    text-align: rigth;
  }

  span.t-value {
    color: $text-color !important;
    font-family: $font-family-monospace;
    text-align: right;
    margin-right: 15px;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@import 'custom/market';
