<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'gio'" src="'/templates/funds/deposit_gio.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/deposit_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>


<ng-include ng-if="currency == 'psd'" src="'/templates/funds/deposit_psd.html'"></ng-include>
<ng-include ng-if="currency == 'phc'" src="'/templates/funds/deposit_phc.html'"></ng-include>
<ng-include ng-if="currency == 'xgc'" src="'/templates/funds/deposit_xgc.html'"></ng-include>
<ng-include ng-if="currency == 'dev'" src="'/templates/funds/deposit_dev.html'"></ng-include>
<ng-include ng-if="currency == 'pbs'" src="'/templates/funds/deposit_pbs.html'"></ng-include>
<ng-include ng-if="currency == 'din'" src="'/templates/funds/deposit_din.html'"></ng-include>
<ng-include ng-if="currency == 'adv'" src="'/templates/funds/deposit_adv.html'"></ng-include>
<ng-include ng-if="currency == 'dv7'" src="'/templates/funds/deposit_dv7.html'"></ng-include>
<ng-include ng-if="currency == 'jew'" src="'/templates/funds/deposit_jew.html'"></ng-include>
<ng-include ng-if="currency == 'argo'" src="'/templates/funds/deposit_argo.html'"></ng-include>
<ng-include ng-if="currency == 'esco'" src="'/templates/funds/deposit_esco.html'"></ng-include>
<ng-include ng-if="currency == 'neet'" src="'/templates/funds/deposit_neet.html'"></ng-include>
<ng-include ng-if="currency == 'xylo'" src="'/templates/funds/deposit_xylo.html'"></ng-include>
<ng-include ng-if="currency == 'steep'" src="'/templates/funds/deposit_steep.html'"></ng-include>
<ng-include ng-if="currency == 'bitg'" src="'/templates/funds/deposit_bitg.html'"></ng-include>
<ng-include ng-if="currency == 'crft'" src="'/templates/funds/deposit_crft.html'"></ng-include>
<ng-include ng-if="currency == 'env'" src="'/templates/funds/deposit_env.html'"></ng-include>
<ng-include ng-if="currency == 'sng'" src="'/templates/funds/deposit_sng.html'"></ng-include>
<ng-include ng-if="currency == 'nyc'" src="'/templates/funds/deposit_nyc.html'"></ng-include>
<ng-include ng-if="currency == 'zoc'" src="'/templates/funds/deposit_zoc.html'"></ng-include>
<ng-include ng-if="currency == 'btcz'" src="'/templates/funds/deposit_btcz.html'"></ng-include>
<ng-include ng-if="currency == 'ytn'" src="'/templates/funds/deposit_ytn.html'"></ng-include>
<ng-include ng-if="currency == 'yic'" src="'/templates/funds/deposit_yic.html'"></ng-include>
<ng-include ng-if="currency == 'tlp'" src="'/templates/funds/deposit_tlp.html'"></ng-include>
<ng-include ng-if="currency == 'pwc'" src="'/templates/funds/deposit_pwc.html'"></ng-include>
<ng-include ng-if="currency == 'shnd'" src="'/templates/funds/deposit_shnd.html'"></ng-include>
<ng-include ng-if="currency == 'lmn'" src="'/templates/funds/deposit_lmn.html'"></ng-include>
<ng-include ng-if="currency == 'kec'" src="'/templates/funds/deposit_kec.html'"></ng-include>
<ng-include ng-if="currency == 'abs'" src="'/templates/funds/deposit_abs.html'"></ng-include>
<ng-include ng-if="currency == 'suppo'" src="'/templates/funds/deposit_suppo.html'"></ng-include>
<ng-include ng-if="currency == 'linda'" src="'/templates/funds/deposit_linda.html'"></ng-include>
<ng-include ng-if="currency == 'hight'" src="'/templates/funds/deposit_hight.html'"></ng-include>
<ng-include ng-if="currency == 'bls'" src="'/templates/funds/deposit_bls.html'"></ng-include>
<ng-include ng-if="currency == 'tokc'" src="'/templates/funds/deposit_tokc.html'"></ng-include>
<ng-include ng-if="currency == 'elp'" src="'/templates/funds/deposit_elp.html'"></ng-include>
<ng-include ng-if="currency == 'zex'" src="'/templates/funds/deposit_zex.html'"></ng-include>
<ng-include ng-if="currency == 'rlc'" src="'/templates/funds/deposit_rlc.html'"></ng-include>
<ng-include ng-if="currency == 'lucky'" src="'/templates/funds/deposit_lucky.html'"></ng-include>
<ng-include ng-if="currency == 'ich'" src="'/templates/funds/deposit_ich.html'"></ng-include>
<ng-include ng-if="currency == 'mmb'" src="'/templates/funds/deposit_mmb.html'"></ng-include>
<ng-include ng-if="currency == 'pnx'" src="'/templates/funds/deposit_pnx.html'"></ng-include>
<ng-include ng-if="currency == 'mix'" src="'/templates/funds/deposit_mix.html'"></ng-include>
