<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'gio'" src="'/templates/funds/deposit_gio.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/deposit_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>


<ng-include ng-if="currency == 'psd'" src="'/templates/funds/deposit_psd.html'"></ng-include>
<ng-include ng-if="currency == 'phc'" src="'/templates/funds/deposit_phc.html'"></ng-include>
<ng-include ng-if="currency == 'xgc'" src="'/templates/funds/deposit_xgc.html'"></ng-include>
<ng-include ng-if="currency == 'dev'" src="'/templates/funds/deposit_dev.html'"></ng-include>
<ng-include ng-if="currency == 'pbs'" src="'/templates/funds/deposit_pbs.html'"></ng-include>
<ng-include ng-if="currency == 'din'" src="'/templates/funds/deposit_din.html'"></ng-include>
<ng-include ng-if="currency == 'adv'" src="'/templates/funds/deposit_adv.html'"></ng-include>
<ng-include ng-if="currency == 'dv7'" src="'/templates/funds/deposit_dv7.html'"></ng-include>
<ng-include ng-if="currency == 'jew'" src="'/templates/funds/deposit_jew.html'"></ng-include>
<ng-include ng-if="currency == 'argo'" src="'/templates/funds/deposit_argo.html'"></ng-include>
<ng-include ng-if="currency == 'esco'" src="'/templates/funds/deposit_esco.html'"></ng-include>
<ng-include ng-if="currency == 'neet'" src="'/templates/funds/deposit_neet.html'"></ng-include>
<ng-include ng-if="currency == 'xylo'" src="'/templates/funds/deposit_xylo.html'"></ng-include>
<ng-include ng-if="currency == 'steep'" src="'/templates/funds/deposit_steep.html'"></ng-include>
<ng-include ng-if="currency == 'bitg'" src="'/templates/funds/deposit_bitg.html'"></ng-include>
<ng-include ng-if="currency == 'crft'" src="'/templates/funds/deposit_crft.html'"></ng-include>
<ng-include ng-if="currency == 'env'" src="'/templates/funds/deposit_env.html'"></ng-include>
<ng-include ng-if="currency == 'xsg'" src="'/templates/funds/deposit_xsg.html'"></ng-include>
<ng-include ng-if="currency == 'nyc'" src="'/templates/funds/deposit_nyc.html'"></ng-include>
<ng-include ng-if="currency == 'zoc'" src="'/templates/funds/deposit_zoc.html'"></ng-include>
<ng-include ng-if="currency == 'btcz'" src="'/templates/funds/deposit_btcz.html'"></ng-include>
<ng-include ng-if="currency == 'ytn'" src="'/templates/funds/deposit_ytn.html'"></ng-include>
<ng-include ng-if="currency == 'yic'" src="'/templates/funds/deposit_yic.html'"></ng-include>
<ng-include ng-if="currency == 'tlp'" src="'/templates/funds/deposit_tlp.html'"></ng-include>
<ng-include ng-if="currency == 'pwc'" src="'/templates/funds/deposit_pwc.html'"></ng-include>
<ng-include ng-if="currency == 'shnd'" src="'/templates/funds/deposit_shnd.html'"></ng-include>
<ng-include ng-if="currency == 'lmn'" src="'/templates/funds/deposit_lmn.html'"></ng-include>
<ng-include ng-if="currency == 'kec'" src="'/templates/funds/deposit_kec.html'"></ng-include>
<ng-include ng-if="currency == 'abs'" src="'/templates/funds/deposit_abs.html'"></ng-include>
<ng-include ng-if="currency == 'suppo'" src="'/templates/funds/deposit_suppo.html'"></ng-include>
<ng-include ng-if="currency == 'linda'" src="'/templates/funds/deposit_linda.html'"></ng-include>
<ng-include ng-if="currency == 'hight'" src="'/templates/funds/deposit_hight.html'"></ng-include>
<ng-include ng-if="currency == 'bls'" src="'/templates/funds/deposit_bls.html'"></ng-include>
<ng-include ng-if="currency == 'tokc'" src="'/templates/funds/deposit_tokc.html'"></ng-include>
<ng-include ng-if="currency == 'elp'" src="'/templates/funds/deposit_elp.html'"></ng-include>
<ng-include ng-if="currency == 'zex'" src="'/templates/funds/deposit_zex.html'"></ng-include>
<ng-include ng-if="currency == 'rlc'" src="'/templates/funds/deposit_rlc.html'"></ng-include>
<ng-include ng-if="currency == 'lucky'" src="'/templates/funds/deposit_lucky.html'"></ng-include>
<ng-include ng-if="currency == 'ich'" src="'/templates/funds/deposit_ich.html'"></ng-include>
<ng-include ng-if="currency == 'mmb'" src="'/templates/funds/deposit_mmb.html'"></ng-include>
<ng-include ng-if="currency == 'pnx'" src="'/templates/funds/deposit_pnx.html'"></ng-include>
<ng-include ng-if="currency == 'mix'" src="'/templates/funds/deposit_mix.html'"></ng-include>
<ng-include ng-if="currency == 'kreds'" src="'/templates/funds/deposit_kreds.html'"></ng-include>
<ng-include ng-if="currency == 'bkt'" src="'/templates/funds/deposit_bkt.html'"></ng-include>
<ng-include ng-if="currency == 'snx'" src="'/templates/funds/deposit_snx.html'"></ng-include>
<ng-include ng-if="currency == 'giro'" src="'/templates/funds/deposit_giro.html'"></ng-include>
<ng-include ng-if="currency == 'onex'" src="'/templates/funds/deposit_onex.html'"></ng-include>
<ng-include ng-if="currency == 'pushi'" src="'/templates/funds/deposit_pushi.html'"></ng-include>
<ng-include ng-if="currency == 'vrt'" src="'/templates/funds/deposit_vrt.html'"></ng-include>
<ng-include ng-if="currency == 'zaca'" src="'/templates/funds/deposit_zaca.html'"></ng-include>
<ng-include ng-if="currency == 'xhm'" src="'/templates/funds/deposit_xhm.html'"></ng-include>
<ng-include ng-if="currency == 'xar'" src="'/templates/funds/deposit_xar.html'"></ng-include>
<ng-include ng-if="currency == 'rupx'" src="'/templates/funds/deposit_rupx.html'"></ng-include>
<ng-include ng-if="currency == 'frm'" src="'/templates/funds/deposit_frm.html'"></ng-include>
<ng-include ng-if="currency == 'men'" src="'/templates/funds/deposit_men.html'"></ng-include>
<ng-include ng-if="currency == 'mun'" src="'/templates/funds/deposit_mun.html'"></ng-include>
<ng-include ng-if="currency == 'onemc'" src="'/templates/funds/deposit_onemc.html'"></ng-include>
<ng-include ng-if="currency == 'alp'" src="'/templates/funds/deposit_alp.html'"></ng-include>
<ng-include ng-if="currency == 'zel'" src="'/templates/funds/deposit_zel.html'"></ng-include>
<ng-include ng-if="currency == 'amx'" src="'/templates/funds/deposit_amx.html'"></ng-include>
<ng-include ng-if="currency == 'pew'" src="'/templates/funds/deposit_pew.html'"></ng-include>
<ng-include ng-if="currency == 'fsc'" src="'/templates/funds/deposit_fsc.html'"></ng-include>
<ng-include ng-if="currency == 'sln'" src="'/templates/funds/deposit_sln.html'"></ng-include>
<ng-include ng-if="currency == 'usx'" src="'/templates/funds/deposit_usx.html'"></ng-include>
<ng-include ng-if="currency == 'bsx'" src="'/templates/funds/deposit_bsx.html'"></ng-include>
<ng-include ng-if="currency == 'eot'" src="'/templates/funds/deposit_eot.html'"></ng-include>
<ng-include ng-if="currency == 'xap'" src="'/templates/funds/deposit_xap.html'"></ng-include>
<ng-include ng-if="currency == 'miac'" src="'/templates/funds/deposit_miac.html'"></ng-include>
<ng-include ng-if="currency == 'kc'" src="'/templates/funds/deposit_kc.html'"></ng-include>
<ng-include ng-if="currency == 'arhm'" src="'/templates/funds/deposit_arhm.html'"></ng-include>
<ng-include ng-if="currency == 'olmp'" src="'/templates/funds/deposit_olmp.html'"></ng-include>
<ng-include ng-if="currency == 'onz'" src="'/templates/funds/deposit_onz.html'"></ng-include>
<ng-include ng-if="currency == 'agn'" src="'/templates/funds/deposit_agn.html'"></ng-include>
<ng-include ng-if="currency == 'crz'" src="'/templates/funds/deposit_crz.html'"></ng-include>
<ng-include ng-if="currency == 'enix'" src="'/templates/funds/deposit_enix.html'"></ng-include>
<ng-include ng-if="currency == 'snc'" src="'/templates/funds/deposit_snc.html'"></ng-include>
<ng-include ng-if="currency == 'quaz'" src="'/templates/funds/deposit_quaz.html'"></ng-include>
<ng-include ng-if="currency == 'scriv'" src="'/templates/funds/deposit_scriv.html'"></ng-include>
<ng-include ng-if="currency == 'ethf'" src="'/templates/funds/deposit_ethf.html'"></ng-include>
<ng-include ng-if="currency == 'arepa'" src="'/templates/funds/deposit_arepa.html'"></ng-include>
<ng-include ng-if="currency == 'sub1x'" src="'/templates/funds/deposit_sub1x.html'"></ng-include>
<ng-include ng-if="currency == 'cheese'" src="'/templates/funds/deposit_cheese.html'"></ng-include>
<ng-include ng-if="currency == 'jiyo'" src="'/templates/funds/deposit_jiyo.html'"></ng-include>
<ng-include ng-if="currency == 'pyro'" src="'/templates/funds/deposit_pyro.html'"></ng-include>
<ng-include ng-if="currency == 'roe'" src="'/templates/funds/deposit_roe.html'"></ng-include>
<ng-include ng-if="currency == 'citr'" src="'/templates/funds/deposit_citr.html'"></ng-include>
<ng-include ng-if="currency == 'xen'" src="'/templates/funds/deposit_xen.html'"></ng-include>
<ng-include ng-if="currency == 'edl'" src="'/templates/funds/deposit_edl.html'"></ng-include>
<ng-include ng-if="currency == 'cru'" src="'/templates/funds/deposit_cru.html'"></ng-include>
<ng-include ng-if="currency == 'ndc'" src="'/templates/funds/deposit_ndc.html'"></ng-include>
<ng-include ng-if="currency == 'zls'" src="'/templates/funds/deposit_zls.html'"></ng-include>
<ng-include ng-if="currency == 'proton'" src="'/templates/funds/deposit_proton.html'"></ng-include>
<ng-include ng-if="currency == 'krait'" src="'/templates/funds/deposit_krait.html'"></ng-include>
<ng-include ng-if="currency == 'aln'" src="'/templates/funds/deposit_aln.html'"></ng-include>
<ng-include ng-if="currency == 'bcp'" src="'/templates/funds/deposit_bcp.html'"></ng-include>
<ng-include ng-if="currency == 'xmx'" src="'/templates/funds/deposit_xmx.html'"></ng-include>
<ng-include ng-if="currency == 'ida'" src="'/templates/funds/deposit_ida.html'"></ng-include>
<ng-include ng-if="currency == 'unify'" src="'/templates/funds/deposit_unify.html'"></ng-include>
<ng-include ng-if="currency == 'and'" src="'/templates/funds/deposit_and.html'"></ng-include>
<ng-include ng-if="currency == 'vig'" src="'/templates/funds/deposit_vig.html'"></ng-include>
<ng-include ng-if="currency == 'peps'" src="'/templates/funds/deposit_peps.html'"></ng-include>
<ng-include ng-if="currency == 'vizz'" src="'/templates/funds/deposit_vizz.html'"></ng-include>
<ng-include ng-if="currency == 'mon'" src="'/templates/funds/deposit_mon.html'"></ng-include>
<ng-include ng-if="currency == 'lunex'" src="'/templates/funds/deposit_lunex.html'"></ng-include>
<ng-include ng-if="currency == 'pruf'" src="'/templates/funds/deposit_pruf.html'"></ng-include>
<ng-include ng-if="currency == 'want'" src="'/templates/funds/deposit_want.html'"></ng-include>
<ng-include ng-if="currency == 'mmo'" src="'/templates/funds/deposit_mmo.html'"></ng-include>
<ng-include ng-if="currency == 'cbt'" src="'/templates/funds/deposit_cbt.html'"></ng-include>
<ng-include ng-if="currency == 'xt3'" src="'/templates/funds/deposit_xt3.html'"></ng-include>
<ng-include ng-if="currency == 'btcf'" src="'/templates/funds/deposit_btcf.html'"></ng-include>
<ng-include ng-if="currency == 'zcr'" src="'/templates/funds/deposit_zcr.html'"></ng-include>
<ng-include ng-if="currency == 'slrc'" src="'/templates/funds/deposit_slrc.html'"></ng-include>
<ng-include ng-if="currency == 'aevo'" src="'/templates/funds/deposit_aevo.html'"></ng-include>
<ng-include ng-if="currency == 'ppx'" src="'/templates/funds/deposit_ppx.html'"></ng-include>
<ng-include ng-if="currency == 'yoba'" src="'/templates/funds/deposit_yoba.html'"></ng-include>
<ng-include ng-if="currency == 'nbx'" src="'/templates/funds/deposit_nbx.html'"></ng-include>
<ng-include ng-if="currency == 'elli'" src="'/templates/funds/deposit_elli.html'"></ng-include>
<ng-include ng-if="currency == 'kgx'" src="'/templates/funds/deposit_kgx.html'"></ng-include>
<ng-include ng-if="currency == 'akn'" src="'/templates/funds/deposit_akn.html'"></ng-include>
<ng-include ng-if="currency == 'aka'" src="'/templates/funds/deposit_aka.html'"></ng-include>
<ng-include ng-if="currency == 'rvn'" src="'/templates/funds/deposit_rvn.html'"></ng-include>
<ng-include ng-if="currency == 'posq'" src="'/templates/funds/deposit_posq.html'"></ng-include>
<ng-include ng-if="currency == 'radius'" src="'/templates/funds/deposit_radius.html'"></ng-include>
<ng-include ng-if="currency == 'dsc'" src="'/templates/funds/deposit_dsc.html'"></ng-include>
<ng-include ng-if="currency == 'varius'" src="'/templates/funds/deposit_varius.html'"></ng-include>
<ng-include ng-if="currency == 'cyr'" src="'/templates/funds/deposit_cyr.html'"></ng-include>
<ng-include ng-if="currency == 'bbrc'" src="'/templates/funds/deposit_bbrc.html'"></ng-include>
<ng-include ng-if="currency == 'ikt'" src="'/templates/funds/deposit_ikt.html'"></ng-include>
<ng-include ng-if="currency == 'bsl'" src="'/templates/funds/deposit_bsl.html'"></ng-include>
<ng-include ng-if="currency == 'bff'" src="'/templates/funds/deposit_bff.html'"></ng-include>
<ng-include ng-if="currency == 'toba'" src="'/templates/funds/deposit_toba.html'"></ng-include>
<ng-include ng-if="currency == 'alps'" src="'/templates/funds/deposit_alps.html'"></ng-include>
<ng-include ng-if="currency == 'rlm'" src="'/templates/funds/deposit_rlm.html'"></ng-include>
<ng-include ng-if="currency == 'vzh'" src="'/templates/funds/deposit_vzh.html'"></ng-include>
<ng-include ng-if="currency == 'rco'" src="'/templates/funds/deposit_rco.html'"></ng-include>
<ng-include ng-if="currency == 'cbc'" src="'/templates/funds/deposit_cbc.html'"></ng-include>
<ng-include ng-if="currency == 'exam'" src="'/templates/funds/deposit_exam.html'"></ng-include>
<ng-include ng-if="currency == 'nah'" src="'/templates/funds/deposit_nah.html'"></ng-include>
<ng-include ng-if="currency == 'slash'" src="'/templates/funds/deposit_slash.html'"></ng-include>
<ng-include ng-if="currency == 'adr'" src="'/templates/funds/deposit_adr.html'"></ng-include>
<ng-include ng-if="currency == 'htrc'" src="'/templates/funds/deposit_htrc.html'"></ng-include>
<ng-include ng-if="currency == 'ice'" src="'/templates/funds/deposit_ice.html'"></ng-include>
<ng-include ng-if="currency == 'ebs'" src="'/templates/funds/deposit_ebs.html'"></ng-include>
<ng-include ng-if="currency == 'xeh'" src="'/templates/funds/deposit_xeh.html'"></ng-include>
<ng-include ng-if="currency == 'krm'" src="'/templates/funds/deposit_krm.html'"></ng-include>
<ng-include ng-if="currency == 'cgur'" src="'/templates/funds/deposit_cgur.html'"></ng-include>
<ng-include ng-if="currency == 'vre'" src="'/templates/funds/deposit_vre.html'"></ng-include>
<ng-include ng-if="currency == 'her'" src="'/templates/funds/deposit_her.html'"></ng-include>
<ng-include ng-if="currency == 'bzm'" src="'/templates/funds/deposit_bzm.html'"></ng-include>
<ng-include ng-if="currency == 'itis'" src="'/templates/funds/deposit_itis.html'"></ng-include>
<ng-include ng-if="currency == 'hpp'" src="'/templates/funds/deposit_hpp.html'"></ng-include>
<ng-include ng-if="currency == 'dsn'" src="'/templates/funds/deposit_dsn.html'"></ng-include>
<ng-include ng-if="currency == 'demos'" src="'/templates/funds/deposit_demos.html'"></ng-include>
<ng-include ng-if="currency == 'jagar'" src="'/templates/funds/deposit_jagar.html'"></ng-include>
