<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/withdraw_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'gio'" src="'/templates/funds/withdraw_gio.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/withdraw_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>




<ng-include ng-if="currency == 'psd'" src="'/templates/funds/withdraw_psd.html'"></ng-include>
<ng-include ng-if="currency == 'phc'" src="'/templates/funds/withdraw_phc.html'"></ng-include>
<ng-include ng-if="currency == 'xgc'" src="'/templates/funds/withdraw_xgc.html'"></ng-include>
<ng-include ng-if="currency == 'dev'" src="'/templates/funds/withdraw_dev.html'"></ng-include>
<ng-include ng-if="currency == 'pbs'" src="'/templates/funds/withdraw_pbs.html'"></ng-include>
<ng-include ng-if="currency == 'din'" src="'/templates/funds/withdraw_din.html'"></ng-include>
<ng-include ng-if="currency == 'adv'" src="'/templates/funds/withdraw_adv.html'"></ng-include>
<ng-include ng-if="currency == 'dv7'" src="'/templates/funds/withdraw_dv7.html'"></ng-include>
<ng-include ng-if="currency == 'jew'" src="'/templates/funds/withdraw_jew.html'"></ng-include>
<ng-include ng-if="currency == 'argo'" src="'/templates/funds/withdraw_argo.html'"></ng-include>
<ng-include ng-if="currency == 'esco'" src="'/templates/funds/withdraw_esco.html'"></ng-include>
<ng-include ng-if="currency == 'neet'" src="'/templates/funds/withdraw_neet.html'"></ng-include>
<ng-include ng-if="currency == 'xylo'" src="'/templates/funds/withdraw_xylo.html'"></ng-include>
<ng-include ng-if="currency == 'steep'" src="'/templates/funds/withdraw_steep.html'"></ng-include>
<ng-include ng-if="currency == 'bitg'" src="'/templates/funds/withdraw_bitg.html'"></ng-include>
<ng-include ng-if="currency == 'crft'" src="'/templates/funds/withdraw_crft.html'"></ng-include>
<ng-include ng-if="currency == 'env'" src="'/templates/funds/withdraw_env.html'"></ng-include>
<ng-include ng-if="currency == 'sng'" src="'/templates/funds/withdraw_sng.html'"></ng-include>
<ng-include ng-if="currency == 'nyc'" src="'/templates/funds/withdraw_nyc.html'"></ng-include>
<ng-include ng-if="currency == 'zoc'" src="'/templates/funds/withdraw_zoc.html'"></ng-include>
<ng-include ng-if="currency == 'btcz'" src="'/templates/funds/withdraw_btcz.html'"></ng-include>
<ng-include ng-if="currency == 'ytn'" src="'/templates/funds/withdraw_ytn.html'"></ng-include>
<ng-include ng-if="currency == 'yic'" src="'/templates/funds/withdraw_yic.html'"></ng-include>
<ng-include ng-if="currency == 'tlp'" src="'/templates/funds/withdraw_tlp.html'"></ng-include>
<ng-include ng-if="currency == 'pwc'" src="'/templates/funds/withdraw_pwc.html'"></ng-include>
<ng-include ng-if="currency == 'shnd'" src="'/templates/funds/withdraw_shnd.html'"></ng-include>
<ng-include ng-if="currency == 'lmn'" src="'/templates/funds/withdraw_lmn.html'"></ng-include>
<ng-include ng-if="currency == 'kec'" src="'/templates/funds/withdraw_kec.html'"></ng-include>
<ng-include ng-if="currency == 'abs'" src="'/templates/funds/withdraw_abs.html'"></ng-include>
<ng-include ng-if="currency == 'suppo'" src="'/templates/funds/withdraw_suppo.html'"></ng-include>
<ng-include ng-if="currency == 'linda'" src="'/templates/funds/withdraw_linda.html'"></ng-include>
<ng-include ng-if="currency == 'hight'" src="'/templates/funds/withdraw_hight.html'"></ng-include>
<ng-include ng-if="currency == 'bls'" src="'/templates/funds/withdraw_bls.html'"></ng-include>
<ng-include ng-if="currency == 'tokc'" src="'/templates/funds/withdraw_tokc.html'"></ng-include>
<ng-include ng-if="currency == 'elp'" src="'/templates/funds/withdraw_elp.html'"></ng-include>
<ng-include ng-if="currency == 'zex'" src="'/templates/funds/withdraw_zex.html'"></ng-include>
<ng-include ng-if="currency == 'rlc'" src="'/templates/funds/withdraw_rlc.html'"></ng-include>
<ng-include ng-if="currency == 'lucky'" src="'/templates/funds/withdraw_lucky.html'"></ng-include>
<ng-include ng-if="currency == 'ich'" src="'/templates/funds/withdraw_ich.html'"></ng-include>
<ng-include ng-if="currency == 'mmb'" src="'/templates/funds/withdraw_mmb.html'"></ng-include>
<ng-include ng-if="currency == 'pnx'" src="'/templates/funds/withdraw_pnx.html'"></ng-include>
<ng-include ng-if="currency == 'mix'" src="'/templates/funds/withdraw_mix.html'"></ng-include>
<ng-include ng-if="currency == 'kreds'" src="'/templates/funds/withdraw_kreds.html'"></ng-include>
<ng-include ng-if="currency == 'bkt'" src="'/templates/funds/withdraw_bkt.html'"></ng-include>
<ng-include ng-if="currency == 'snx'" src="'/templates/funds/withdraw_snx.html'"></ng-include>
<ng-include ng-if="currency == 'giro'" src="'/templates/funds/withdraw_giro.html'"></ng-include>
<ng-include ng-if="currency == 'onex'" src="'/templates/funds/withdraw_onex.html'"></ng-include>
<ng-include ng-if="currency == 'pushi'" src="'/templates/funds/withdraw_pushi.html'"></ng-include>
<ng-include ng-if="currency == 'vrt'" src="'/templates/funds/withdraw_vrt.html'"></ng-include>
<ng-include ng-if="currency == 'zaca'" src="'/templates/funds/withdraw_zaca.html'"></ng-include>
<ng-include ng-if="currency == 'xhm'" src="'/templates/funds/withdraw_xhm.html'"></ng-include>
<ng-include ng-if="currency == 'xar'" src="'/templates/funds/withdraw_xar.html'"></ng-include>
<ng-include ng-if="currency == 'rupx'" src="'/templates/funds/withdraw_rupx.html'"></ng-include>
<ng-include ng-if="currency == 'frm'" src="'/templates/funds/withdraw_frm.html'"></ng-include>
<ng-include ng-if="currency == 'men'" src="'/templates/funds/withdraw_men.html'"></ng-include>
<ng-include ng-if="currency == 'mun'" src="'/templates/funds/withdraw_mun.html'"></ng-include>
<ng-include ng-if="currency == 'onemc'" src="'/templates/funds/withdraw_onemc.html'"></ng-include>
<ng-include ng-if="currency == 'alp'" src="'/templates/funds/withdraw_alp.html'"></ng-include>
<ng-include ng-if="currency == 'zel'" src="'/templates/funds/withdraw_zel.html'"></ng-include>
<ng-include ng-if="currency == 'amx'" src="'/templates/funds/withdraw_amx.html'"></ng-include>
<ng-include ng-if="currency == 'pew'" src="'/templates/funds/withdraw_pew.html'"></ng-include>
<ng-include ng-if="currency == 'fsc'" src="'/templates/funds/withdraw_fsc.html'"></ng-include>
<ng-include ng-if="currency == 'sln'" src="'/templates/funds/withdraw_sln.html'"></ng-include>
<ng-include ng-if="currency == 'usx'" src="'/templates/funds/withdraw_usx.html'"></ng-include>
<ng-include ng-if="currency == 'bsx'" src="'/templates/funds/withdraw_bsx.html'"></ng-include>
<ng-include ng-if="currency == 'eot'" src="'/templates/funds/withdraw_eot.html'"></ng-include>
<ng-include ng-if="currency == 'xap'" src="'/templates/funds/withdraw_xap.html'"></ng-include>
<ng-include ng-if="currency == 'miac'" src="'/templates/funds/withdraw_miac.html'"></ng-include>
<ng-include ng-if="currency == 'kc'" src="'/templates/funds/withdraw_kc.html'"></ng-include>
<ng-include ng-if="currency == 'arhm'" src="'/templates/funds/withdraw_arhm.html'"></ng-include>
<ng-include ng-if="currency == 'olmp'" src="'/templates/funds/withdraw_olmp.html'"></ng-include>
<ng-include ng-if="currency == 'onz'" src="'/templates/funds/withdraw_onz.html'"></ng-include>
<ng-include ng-if="currency == 'agn'" src="'/templates/funds/withdraw_agn.html'"></ng-include>
<ng-include ng-if="currency == 'crz'" src="'/templates/funds/withdraw_crz.html'"></ng-include>
<ng-include ng-if="currency == 'enix'" src="'/templates/funds/withdraw_enix.html'"></ng-include>
<ng-include ng-if="currency == 'snc'" src="'/templates/funds/withdraw_snc.html'"></ng-include>
<ng-include ng-if="currency == 'quaz'" src="'/templates/funds/withdraw_quaz.html'"></ng-include>
<ng-include ng-if="currency == 'scriv'" src="'/templates/funds/withdraw_scriv.html'"></ng-include>
<ng-include ng-if="currency == 'ethf'" src="'/templates/funds/withdraw_ethf.html'"></ng-include>
<ng-include ng-if="currency == 'arepa'" src="'/templates/funds/withdraw_arepa.html'"></ng-include>
<ng-include ng-if="currency == 'sub1x'" src="'/templates/funds/withdraw_sub1x.html'"></ng-include>
<ng-include ng-if="currency == 'cheese'" src="'/templates/funds/withdraw_cheese.html'"></ng-include>
<ng-include ng-if="currency == 'jiyo'" src="'/templates/funds/withdraw_jiyo.html'"></ng-include>
<ng-include ng-if="currency == 'pyro'" src="'/templates/funds/withdraw_pyro.html'"></ng-include>
<ng-include ng-if="currency == 'roe'" src="'/templates/funds/withdraw_roe.html'"></ng-include>
<ng-include ng-if="currency == 'citr'" src="'/templates/funds/withdraw_citr.html'"></ng-include>
<ng-include ng-if="currency == 'xen'" src="'/templates/funds/withdraw_xen.html'"></ng-include>
<ng-include ng-if="currency == 'edl'" src="'/templates/funds/withdraw_edl.html'"></ng-include>
<ng-include ng-if="currency == 'cru'" src="'/templates/funds/withdraw_cru.html'"></ng-include>
<ng-include ng-if="currency == 'ndc'" src="'/templates/funds/withdraw_ndc.html'"></ng-include>
<ng-include ng-if="currency == 'zls'" src="'/templates/funds/withdraw_zls.html'"></ng-include>
<ng-include ng-if="currency == 'proton'" src="'/templates/funds/withdraw_proton.html'"></ng-include>
<ng-include ng-if="currency == 'krait'" src="'/templates/funds/withdraw_krait.html'"></ng-include>
<ng-include ng-if="currency == 'aln'" src="'/templates/funds/withdraw_aln.html'"></ng-include>
<ng-include ng-if="currency == 'bcp'" src="'/templates/funds/withdraw_bcp.html'"></ng-include>
<ng-include ng-if="currency == 'xmx'" src="'/templates/funds/withdraw_xmx.html'"></ng-include>
<ng-include ng-if="currency == 'ida'" src="'/templates/funds/withdraw_ida.html'"></ng-include>
<ng-include ng-if="currency == 'unify'" src="'/templates/funds/withdraw_unify.html'"></ng-include>
<ng-include ng-if="currency == 'and'" src="'/templates/funds/withdraw_and.html'"></ng-include>
<ng-include ng-if="currency == 'vig'" src="'/templates/funds/withdraw_vig.html'"></ng-include>
<ng-include ng-if="currency == 'peps'" src="'/templates/funds/withdraw_peps.html'"></ng-include>
<ng-include ng-if="currency == 'vizz'" src="'/templates/funds/withdraw_vizz.html'"></ng-include>
