<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/withdraw_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'gio'" src="'/templates/funds/withdraw_gio.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/withdraw_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>




<ng-include ng-if="currency == 'psd'" src="'/templates/funds/withdraw_psd.html'"></ng-include>
<ng-include ng-if="currency == 'phc'" src="'/templates/funds/withdraw_phc.html'"></ng-include>
<ng-include ng-if="currency == 'xgc'" src="'/templates/funds/withdraw_xgc.html'"></ng-include>
<ng-include ng-if="currency == 'dev'" src="'/templates/funds/withdraw_dev.html'"></ng-include>
<ng-include ng-if="currency == 'pbs'" src="'/templates/funds/withdraw_pbs.html'"></ng-include>
<ng-include ng-if="currency == 'din'" src="'/templates/funds/withdraw_din.html'"></ng-include>
<ng-include ng-if="currency == 'adv'" src="'/templates/funds/withdraw_adv.html'"></ng-include>
<ng-include ng-if="currency == 'dv7'" src="'/templates/funds/withdraw_dv7.html'"></ng-include>
<ng-include ng-if="currency == 'jew'" src="'/templates/funds/withdraw_jew.html'"></ng-include>
<ng-include ng-if="currency == 'argo'" src="'/templates/funds/withdraw_argo.html'"></ng-include>
<ng-include ng-if="currency == 'esco'" src="'/templates/funds/withdraw_esco.html'"></ng-include>
<ng-include ng-if="currency == 'neet'" src="'/templates/funds/withdraw_neet.html'"></ng-include>
<ng-include ng-if="currency == 'xylo'" src="'/templates/funds/withdraw_xylo.html'"></ng-include>
<ng-include ng-if="currency == 'steep'" src="'/templates/funds/withdraw_steep.html'"></ng-include>
<ng-include ng-if="currency == 'bitg'" src="'/templates/funds/withdraw_bitg.html'"></ng-include>
<ng-include ng-if="currency == 'crft'" src="'/templates/funds/withdraw_crft.html'"></ng-include>
<ng-include ng-if="currency == 'env'" src="'/templates/funds/withdraw_env.html'"></ng-include>
<ng-include ng-if="currency == 'sng'" src="'/templates/funds/withdraw_sng.html'"></ng-include>
<ng-include ng-if="currency == 'nyc'" src="'/templates/funds/withdraw_nyc.html'"></ng-include>
<ng-include ng-if="currency == 'zoc'" src="'/templates/funds/withdraw_zoc.html'"></ng-include>
<ng-include ng-if="currency == 'btcz'" src="'/templates/funds/withdraw_btcz.html'"></ng-include>
<ng-include ng-if="currency == 'ytn'" src="'/templates/funds/withdraw_ytn.html'"></ng-include>
<ng-include ng-if="currency == 'yic'" src="'/templates/funds/withdraw_yic.html'"></ng-include>
<ng-include ng-if="currency == 'tlp'" src="'/templates/funds/withdraw_tlp.html'"></ng-include>
<ng-include ng-if="currency == 'pwc'" src="'/templates/funds/withdraw_pwc.html'"></ng-include>
<ng-include ng-if="currency == 'shnd'" src="'/templates/funds/withdraw_shnd.html'"></ng-include>
<ng-include ng-if="currency == 'lmn'" src="'/templates/funds/withdraw_lmn.html'"></ng-include>
<ng-include ng-if="currency == 'kec'" src="'/templates/funds/withdraw_kec.html'"></ng-include>
<ng-include ng-if="currency == 'abs'" src="'/templates/funds/withdraw_abs.html'"></ng-include>
<ng-include ng-if="currency == 'suppo'" src="'/templates/funds/withdraw_suppo.html'"></ng-include>
<ng-include ng-if="currency == 'linda'" src="'/templates/funds/withdraw_linda.html'"></ng-include>
<ng-include ng-if="currency == 'hight'" src="'/templates/funds/withdraw_hight.html'"></ng-include>
<ng-include ng-if="currency == 'bls'" src="'/templates/funds/withdraw_bls.html'"></ng-include>
<ng-include ng-if="currency == 'tokc'" src="'/templates/funds/withdraw_tokc.html'"></ng-include>
<ng-include ng-if="currency == 'elp'" src="'/templates/funds/withdraw_elp.html'"></ng-include>
<ng-include ng-if="currency == 'zex'" src="'/templates/funds/withdraw_zex.html'"></ng-include>
<ng-include ng-if="currency == 'rlc'" src="'/templates/funds/withdraw_rlc.html'"></ng-include>
<ng-include ng-if="currency == 'lucky'" src="'/templates/funds/withdraw_lucky.html'"></ng-include>
<ng-include ng-if="currency == 'ich'" src="'/templates/funds/withdraw_ich.html'"></ng-include>
<ng-include ng-if="currency == 'mmb'" src="'/templates/funds/withdraw_mmb.html'"></ng-include>
<ng-include ng-if="currency == 'pnx'" src="'/templates/funds/withdraw_pnx.html'"></ng-include>
<ng-include ng-if="currency == 'mix'" src="'/templates/funds/withdraw_mix.html'"></ng-include>
