<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/withdraw_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'gio'" src="'/templates/funds/withdraw_gio.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/withdraw_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>




<ng-include ng-if="currency == 'psd'" src="'/templates/funds/withdraw_psd.html'"></ng-include>
<ng-include ng-if="currency == 'phc'" src="'/templates/funds/withdraw_phc.html'"></ng-include>
<ng-include ng-if="currency == 'xgc'" src="'/templates/funds/withdraw_xgc.html'"></ng-include>
<ng-include ng-if="currency == 'dev'" src="'/templates/funds/withdraw_dev.html'"></ng-include>
<ng-include ng-if="currency == 'pbs'" src="'/templates/funds/withdraw_pbs.html'"></ng-include>
<ng-include ng-if="currency == 'din'" src="'/templates/funds/withdraw_din.html'"></ng-include>
<ng-include ng-if="currency == 'adv'" src="'/templates/funds/withdraw_adv.html'"></ng-include>
<ng-include ng-if="currency == 'dv7'" src="'/templates/funds/withdraw_dv7.html'"></ng-include>
<ng-include ng-if="currency == 'jew'" src="'/templates/funds/withdraw_jew.html'"></ng-include>
<ng-include ng-if="currency == 'argo'" src="'/templates/funds/withdraw_argo.html'"></ng-include>
<ng-include ng-if="currency == 'esco'" src="'/templates/funds/withdraw_esco.html'"></ng-include>
<ng-include ng-if="currency == 'neet'" src="'/templates/funds/withdraw_neet.html'"></ng-include>
<ng-include ng-if="currency == 'xylo'" src="'/templates/funds/withdraw_xylo.html'"></ng-include>
<ng-include ng-if="currency == 'steep'" src="'/templates/funds/withdraw_steep.html'"></ng-include>
<ng-include ng-if="currency == 'bitg'" src="'/templates/funds/withdraw_bitg.html'"></ng-include>
<ng-include ng-if="currency == 'crft'" src="'/templates/funds/withdraw_crft.html'"></ng-include>
<ng-include ng-if="currency == 'env'" src="'/templates/funds/withdraw_env.html'"></ng-include>
<ng-include ng-if="currency == 'xsg'" src="'/templates/funds/withdraw_xsg.html'"></ng-include>
<ng-include ng-if="currency == 'nyc'" src="'/templates/funds/withdraw_nyc.html'"></ng-include>
<ng-include ng-if="currency == 'zoc'" src="'/templates/funds/withdraw_zoc.html'"></ng-include>
<ng-include ng-if="currency == 'btcz'" src="'/templates/funds/withdraw_btcz.html'"></ng-include>
<ng-include ng-if="currency == 'ytn'" src="'/templates/funds/withdraw_ytn.html'"></ng-include>
<ng-include ng-if="currency == 'yic'" src="'/templates/funds/withdraw_yic.html'"></ng-include>
<ng-include ng-if="currency == 'tlp'" src="'/templates/funds/withdraw_tlp.html'"></ng-include>
<ng-include ng-if="currency == 'pwc'" src="'/templates/funds/withdraw_pwc.html'"></ng-include>
<ng-include ng-if="currency == 'shnd'" src="'/templates/funds/withdraw_shnd.html'"></ng-include>
<ng-include ng-if="currency == 'lmn'" src="'/templates/funds/withdraw_lmn.html'"></ng-include>
<ng-include ng-if="currency == 'kec'" src="'/templates/funds/withdraw_kec.html'"></ng-include>
<ng-include ng-if="currency == 'abs'" src="'/templates/funds/withdraw_abs.html'"></ng-include>
<ng-include ng-if="currency == 'suppo'" src="'/templates/funds/withdraw_suppo.html'"></ng-include>
<ng-include ng-if="currency == 'linda'" src="'/templates/funds/withdraw_linda.html'"></ng-include>
<ng-include ng-if="currency == 'hight'" src="'/templates/funds/withdraw_hight.html'"></ng-include>
<ng-include ng-if="currency == 'bls'" src="'/templates/funds/withdraw_bls.html'"></ng-include>
<ng-include ng-if="currency == 'tokc'" src="'/templates/funds/withdraw_tokc.html'"></ng-include>
<ng-include ng-if="currency == 'elp'" src="'/templates/funds/withdraw_elp.html'"></ng-include>
<ng-include ng-if="currency == 'zex'" src="'/templates/funds/withdraw_zex.html'"></ng-include>
<ng-include ng-if="currency == 'rlc'" src="'/templates/funds/withdraw_rlc.html'"></ng-include>
<ng-include ng-if="currency == 'lucky'" src="'/templates/funds/withdraw_lucky.html'"></ng-include>
<ng-include ng-if="currency == 'ich'" src="'/templates/funds/withdraw_ich.html'"></ng-include>
<ng-include ng-if="currency == 'mmb'" src="'/templates/funds/withdraw_mmb.html'"></ng-include>
<ng-include ng-if="currency == 'pnx'" src="'/templates/funds/withdraw_pnx.html'"></ng-include>
<ng-include ng-if="currency == 'mix'" src="'/templates/funds/withdraw_mix.html'"></ng-include>
<ng-include ng-if="currency == 'kreds'" src="'/templates/funds/withdraw_kreds.html'"></ng-include>
<ng-include ng-if="currency == 'bkt'" src="'/templates/funds/withdraw_bkt.html'"></ng-include>
<ng-include ng-if="currency == 'snx'" src="'/templates/funds/withdraw_snx.html'"></ng-include>
<ng-include ng-if="currency == 'giro'" src="'/templates/funds/withdraw_giro.html'"></ng-include>
<ng-include ng-if="currency == 'onex'" src="'/templates/funds/withdraw_onex.html'"></ng-include>
<ng-include ng-if="currency == 'pushi'" src="'/templates/funds/withdraw_pushi.html'"></ng-include>
<ng-include ng-if="currency == 'vrt'" src="'/templates/funds/withdraw_vrt.html'"></ng-include>
<ng-include ng-if="currency == 'zaca'" src="'/templates/funds/withdraw_zaca.html'"></ng-include>
<ng-include ng-if="currency == 'xhm'" src="'/templates/funds/withdraw_xhm.html'"></ng-include>
<ng-include ng-if="currency == 'xar'" src="'/templates/funds/withdraw_xar.html'"></ng-include>
<ng-include ng-if="currency == 'rupx'" src="'/templates/funds/withdraw_rupx.html'"></ng-include>
<ng-include ng-if="currency == 'frm'" src="'/templates/funds/withdraw_frm.html'"></ng-include>
<ng-include ng-if="currency == 'men'" src="'/templates/funds/withdraw_men.html'"></ng-include>
<ng-include ng-if="currency == 'mun'" src="'/templates/funds/withdraw_mun.html'"></ng-include>
<ng-include ng-if="currency == 'onemc'" src="'/templates/funds/withdraw_onemc.html'"></ng-include>
<ng-include ng-if="currency == 'alp'" src="'/templates/funds/withdraw_alp.html'"></ng-include>
<ng-include ng-if="currency == 'zel'" src="'/templates/funds/withdraw_zel.html'"></ng-include>
<ng-include ng-if="currency == 'amx'" src="'/templates/funds/withdraw_amx.html'"></ng-include>
<ng-include ng-if="currency == 'pew'" src="'/templates/funds/withdraw_pew.html'"></ng-include>
<ng-include ng-if="currency == 'fsc'" src="'/templates/funds/withdraw_fsc.html'"></ng-include>
<ng-include ng-if="currency == 'sln'" src="'/templates/funds/withdraw_sln.html'"></ng-include>
<ng-include ng-if="currency == 'usx'" src="'/templates/funds/withdraw_usx.html'"></ng-include>
<ng-include ng-if="currency == 'bsx'" src="'/templates/funds/withdraw_bsx.html'"></ng-include>
<ng-include ng-if="currency == 'eot'" src="'/templates/funds/withdraw_eot.html'"></ng-include>
<ng-include ng-if="currency == 'xap'" src="'/templates/funds/withdraw_xap.html'"></ng-include>
<ng-include ng-if="currency == 'miac'" src="'/templates/funds/withdraw_miac.html'"></ng-include>
<ng-include ng-if="currency == 'kc'" src="'/templates/funds/withdraw_kc.html'"></ng-include>
<ng-include ng-if="currency == 'arhm'" src="'/templates/funds/withdraw_arhm.html'"></ng-include>
<ng-include ng-if="currency == 'olmp'" src="'/templates/funds/withdraw_olmp.html'"></ng-include>
<ng-include ng-if="currency == 'onz'" src="'/templates/funds/withdraw_onz.html'"></ng-include>
<ng-include ng-if="currency == 'agn'" src="'/templates/funds/withdraw_agn.html'"></ng-include>
<ng-include ng-if="currency == 'crz'" src="'/templates/funds/withdraw_crz.html'"></ng-include>
<ng-include ng-if="currency == 'enix'" src="'/templates/funds/withdraw_enix.html'"></ng-include>
<ng-include ng-if="currency == 'snc'" src="'/templates/funds/withdraw_snc.html'"></ng-include>
<ng-include ng-if="currency == 'quaz'" src="'/templates/funds/withdraw_quaz.html'"></ng-include>
<ng-include ng-if="currency == 'scriv'" src="'/templates/funds/withdraw_scriv.html'"></ng-include>
<ng-include ng-if="currency == 'ethf'" src="'/templates/funds/withdraw_ethf.html'"></ng-include>
<ng-include ng-if="currency == 'arepa'" src="'/templates/funds/withdraw_arepa.html'"></ng-include>
<ng-include ng-if="currency == 'sub1x'" src="'/templates/funds/withdraw_sub1x.html'"></ng-include>
<ng-include ng-if="currency == 'cheese'" src="'/templates/funds/withdraw_cheese.html'"></ng-include>
<ng-include ng-if="currency == 'jiyo'" src="'/templates/funds/withdraw_jiyo.html'"></ng-include>
<ng-include ng-if="currency == 'pyro'" src="'/templates/funds/withdraw_pyro.html'"></ng-include>
<ng-include ng-if="currency == 'roe'" src="'/templates/funds/withdraw_roe.html'"></ng-include>
<ng-include ng-if="currency == 'citr'" src="'/templates/funds/withdraw_citr.html'"></ng-include>
<ng-include ng-if="currency == 'xen'" src="'/templates/funds/withdraw_xen.html'"></ng-include>
<ng-include ng-if="currency == 'edl'" src="'/templates/funds/withdraw_edl.html'"></ng-include>
<ng-include ng-if="currency == 'cru'" src="'/templates/funds/withdraw_cru.html'"></ng-include>
<ng-include ng-if="currency == 'ndc'" src="'/templates/funds/withdraw_ndc.html'"></ng-include>
<ng-include ng-if="currency == 'zls'" src="'/templates/funds/withdraw_zls.html'"></ng-include>
<ng-include ng-if="currency == 'proton'" src="'/templates/funds/withdraw_proton.html'"></ng-include>
<ng-include ng-if="currency == 'krait'" src="'/templates/funds/withdraw_krait.html'"></ng-include>
<ng-include ng-if="currency == 'aln'" src="'/templates/funds/withdraw_aln.html'"></ng-include>
<ng-include ng-if="currency == 'bcp'" src="'/templates/funds/withdraw_bcp.html'"></ng-include>
<ng-include ng-if="currency == 'xmx'" src="'/templates/funds/withdraw_xmx.html'"></ng-include>
<ng-include ng-if="currency == 'ida'" src="'/templates/funds/withdraw_ida.html'"></ng-include>
<ng-include ng-if="currency == 'unify'" src="'/templates/funds/withdraw_unify.html'"></ng-include>
<ng-include ng-if="currency == 'and'" src="'/templates/funds/withdraw_and.html'"></ng-include>
<ng-include ng-if="currency == 'vig'" src="'/templates/funds/withdraw_vig.html'"></ng-include>
<ng-include ng-if="currency == 'peps'" src="'/templates/funds/withdraw_peps.html'"></ng-include>
<ng-include ng-if="currency == 'vizz'" src="'/templates/funds/withdraw_vizz.html'"></ng-include>
<ng-include ng-if="currency == 'mon'" src="'/templates/funds/withdraw_mon.html'"></ng-include>
<ng-include ng-if="currency == 'lunex'" src="'/templates/funds/withdraw_lunex.html'"></ng-include>
<ng-include ng-if="currency == 'pruf'" src="'/templates/funds/withdraw_pruf.html'"></ng-include>
<ng-include ng-if="currency == 'want'" src="'/templates/funds/withdraw_want.html'"></ng-include>
<ng-include ng-if="currency == 'mmo'" src="'/templates/funds/withdraw_mmo.html'"></ng-include>
<ng-include ng-if="currency == 'cbt'" src="'/templates/funds/withdraw_cbt.html'"></ng-include>
<ng-include ng-if="currency == 'xt3'" src="'/templates/funds/withdraw_xt3.html'"></ng-include>
<ng-include ng-if="currency == 'btcf'" src="'/templates/funds/withdraw_btcf.html'"></ng-include>
<ng-include ng-if="currency == 'zcr'" src="'/templates/funds/withdraw_zcr.html'"></ng-include>
<ng-include ng-if="currency == 'slrc'" src="'/templates/funds/withdraw_slrc.html'"></ng-include>
<ng-include ng-if="currency == 'aevo'" src="'/templates/funds/withdraw_aevo.html'"></ng-include>
<ng-include ng-if="currency == 'ppx'" src="'/templates/funds/withdraw_ppx.html'"></ng-include>
<ng-include ng-if="currency == 'yoba'" src="'/templates/funds/withdraw_yoba.html'"></ng-include>
<ng-include ng-if="currency == 'nbx'" src="'/templates/funds/withdraw_nbx.html'"></ng-include>
<ng-include ng-if="currency == 'elli'" src="'/templates/funds/withdraw_elli.html'"></ng-include>
<ng-include ng-if="currency == 'kgx'" src="'/templates/funds/withdraw_kgx.html'"></ng-include>
<ng-include ng-if="currency == 'akn'" src="'/templates/funds/withdraw_akn.html'"></ng-include>
<ng-include ng-if="currency == 'aka'" src="'/templates/funds/withdraw_aka.html'"></ng-include>
<ng-include ng-if="currency == 'rvn'" src="'/templates/funds/withdraw_rvn.html'"></ng-include>
<ng-include ng-if="currency == 'posq'" src="'/templates/funds/withdraw_posq.html'"></ng-include>
<ng-include ng-if="currency == 'radius'" src="'/templates/funds/withdraw_radius.html'"></ng-include>
<ng-include ng-if="currency == 'dsc'" src="'/templates/funds/withdraw_dsc.html'"></ng-include>
<ng-include ng-if="currency == 'varius'" src="'/templates/funds/withdraw_varius.html'"></ng-include>
<ng-include ng-if="currency == 'cyr'" src="'/templates/funds/withdraw_cyr.html'"></ng-include>
<ng-include ng-if="currency == 'bbrc'" src="'/templates/funds/withdraw_bbrc.html'"></ng-include>
<ng-include ng-if="currency == 'ikt'" src="'/templates/funds/withdraw_ikt.html'"></ng-include>
<ng-include ng-if="currency == 'bsl'" src="'/templates/funds/withdraw_bsl.html'"></ng-include>
<ng-include ng-if="currency == 'bff'" src="'/templates/funds/withdraw_bff.html'"></ng-include>
<ng-include ng-if="currency == 'toba'" src="'/templates/funds/withdraw_toba.html'"></ng-include>
<ng-include ng-if="currency == 'alps'" src="'/templates/funds/withdraw_alps.html'"></ng-include>
<ng-include ng-if="currency == 'rlm'" src="'/templates/funds/withdraw_rlm.html'"></ng-include>
<ng-include ng-if="currency == 'vzh'" src="'/templates/funds/withdraw_vzh.html'"></ng-include>
<ng-include ng-if="currency == 'rco'" src="'/templates/funds/withdraw_rco.html'"></ng-include>
<ng-include ng-if="currency == 'cbc'" src="'/templates/funds/withdraw_cbc.html'"></ng-include>
<ng-include ng-if="currency == 'exam'" src="'/templates/funds/withdraw_exam.html'"></ng-include>
<ng-include ng-if="currency == 'nah'" src="'/templates/funds/withdraw_nah.html'"></ng-include>
<ng-include ng-if="currency == 'slash'" src="'/templates/funds/withdraw_slash.html'"></ng-include>
<ng-include ng-if="currency == 'adr'" src="'/templates/funds/withdraw_adr.html'"></ng-include>
<ng-include ng-if="currency == 'htrc'" src="'/templates/funds/withdraw_htrc.html'"></ng-include>
<ng-include ng-if="currency == 'ice'" src="'/templates/funds/withdraw_ice.html'"></ng-include>
<ng-include ng-if="currency == 'ebs'" src="'/templates/funds/withdraw_ebs.html'"></ng-include>
<ng-include ng-if="currency == 'xeh'" src="'/templates/funds/withdraw_xeh.html'"></ng-include>
<ng-include ng-if="currency == 'krm'" src="'/templates/funds/withdraw_krm.html'"></ng-include>
<ng-include ng-if="currency == 'cgur'" src="'/templates/funds/withdraw_cgur.html'"></ng-include>
<ng-include ng-if="currency == 'vre'" src="'/templates/funds/withdraw_vre.html'"></ng-include>
<ng-include ng-if="currency == 'her'" src="'/templates/funds/withdraw_her.html'"></ng-include>
<ng-include ng-if="currency == 'bzm'" src="'/templates/funds/withdraw_bzm.html'"></ng-include>
<ng-include ng-if="currency == 'itis'" src="'/templates/funds/withdraw_itis.html'"></ng-include>
<ng-include ng-if="currency == 'hpp'" src="'/templates/funds/withdraw_hpp.html'"></ng-include>
<ng-include ng-if="currency == 'dsn'" src="'/templates/funds/withdraw_dsn.html'"></ng-include>
<ng-include ng-if="currency == 'demos'" src="'/templates/funds/withdraw_demos.html'"></ng-include>
<ng-include ng-if="currency == 'jagar'" src="'/templates/funds/withdraw_jagar.html'"></ng-include>
